<style>
        /* Стилизация обычных гиперссылок */
        a {
            color: #0077cc; /* Цвет текста ссылок */
            text-decoration: none; /* Убираем подчеркивание по умолчанию */
            transition: color 0.3s; /* Плавное изменение цвета при наведении */
        }

        /* Стилизация ссылок при наведении курсора */
        a:hover {
            text-decoration: underline; /* Добавляем подчеркивание при наведении */
            color: #ff5500; /* Изменяем цвет текста при наведении */
        }
    </style>